* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}

.none {
    display: none
}

.slider {
    margin: auto;
    padding: 0 1rem;
    background-color: rgba(204, 191, 196, 0.6);
}


.slider__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*text*/

.carousel__captions {
    order: 2;
    overflow: hidden;
    max-width: 80%;
}

.slider__texts {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%; /* 100% for each slide */
}

.slider__text {
    flex: 1 0 100%; /* Occupy full width */
    width: 100%;

    white-space: normal; /* Позволяет переносить текст */
    word-wrap: break-word; /* Перенос длинных слов */
    overflow-wrap: break-word; /* Перенос длинных слов */
}

.slide__text {
    font-size: 1rem; /* базовый размер шрифта */
    /* max-width: 50%;*/
    word-wrap: break-word;
    /*width: 50%;*/ /* текст не будет выходить за пределы контейнера */

}


/*img*/
.carousel__content {
    order: 1;
    overflow: hidden;
    padding-bottom: 30px;
}

.slider__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* width: 100vw;
    height: 100%;*/
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide__img {
    width: 100%;
    max-height: 320px;
    border-radius: 1rem;
    flex-shrink: 0; /* Предотвращает сжатие изображений */

}


/* Slider Controls*/
.dddd {
}

input[type="radio"] {
    display: none;
}

.slider__label {
    display: flex;
    align-items: center;
    order: 3;
    padding: 8px 4px;
    cursor: pointer;
}

.slider__decorator {

    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #0b2f4a;
    background-color: #0b2f4a;

    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.slider__label:hover .slider__decorator {
    border-color: white;
    background-color: white;
}

.slider__label:active .slider__decorator {
    border-color: #ece9e9;
    background-color: #ece9e9;
}

input[type="radio"]:checked + label .slider__decorator {
    background-color: inherit;
}


.slider__controls #slide--1:checked ~ .carousel__content .slider__img {
    transform: translateX(0%);
}

.slider__controls #slide--2:checked ~ .carousel__content .slider__img {
    transform: translateX(-100%);
}

.slider__controls #slide--3:checked ~ .carousel__content .slider__img {
    transform: translateX(-200%);
}

.slider__controls #slide--4:checked ~ .carousel__content .slider__img {
    transform: translateX(-300%);
}

.slider__controls #slide--1:checked ~ .carousel__captions .slider__texts {
    transform: translateX(0%);
}

.slider__controls #slide--2:checked ~ .carousel__captions .slider__texts {
    transform: translateX(-100%);
}

.slider__controls #slide--3:checked ~ .carousel__captions .slider__texts {
    transform: translateX(-200%);
}

.slider__controls #slide--4:checked ~ .carousel__captions .slider__texts {
    transform: translateX(-300%);
}


@media (max-width: 550px) {


    .carousel__captions {
        order: 3;
        max-width: 100%;
    }

    .slider__controls {
        justify-content: center;
    }

    .slide__text {
        font-size: 1rem; /* еще сильнее уменьшаем на очень маленьких экранах */

    }


    .slider__label {
        order: 2;

    }


}